/* Global resets */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* Fonts */
h1 {
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;
	font-size: 2.5em;
	font-weight: bold;
}

.container {
	margin: 2em auto;
	max-width: 630px;
	text-align: center;
}

/* The following font information and color codes are provided for you.  They do not match the prototype exactly, but they are fine to use for the assignment and doing so does not count against you.  They are simply meant to help you save time.  We would like everyone to have as close to a pixel-perfect match to the prototype as possible.  If you do find a font/color that matches more precisely, please share it with the team so we can improve the activity for future applicants.  Thank you!  Happy coding!

	FONTS:
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	font-family: "rooney-web", "AmericanTypewriter", Rockwell, serif;

  COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

/* Your CSS code goes here */
a {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	line-height: 1.40;
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
	padding-left: 18px;
	padding-right: 10px;
	color: #777;
}

p {
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	line-height: 1.40;
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 10px;
	color: #777;
}

.bodyText {
	margin-top: -22px;
	border: 1px #E0E0E0 solid;
	height: 100%;
	width: 100%;
	box-shadow: 0 2px #F4F4F4;
}

.button {
	height: 100%;
	width: 100%;
	border-radius: 3px;
	font-weight: bold;
}

.button.internal {
	border: 1px #1CBC2C solid;
	background-color: #3EBE1A;
	color: #ffffff;
	font-size: 14px;
}

.button.external {
	border: 1px #E0E0E0 solid;
	background-color: #FAFAFA;
	margin-top: -20px;
	box-shadow: 0 1px #DCDCDC;
}

.countDown {
	color: #EF5F3C;
}

.currencyInput {
	border: 1px #E0E0E0 solid;
	height: 100%;
	width: 100%;
	border-radius: 3px;
	font-size: 14px;
	font-weight: bold;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	line-height: 1.40;
	text-align: left;
	color: #777;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.grid {
	display: grid;
	width: 260px;
  height: 300px;
	grid-template: 40px 12px 88px 43px 42px 35px/ 18px 105px 15px 105px 18px ;
	grid-row-gap: 10px;
  grid-column-gap: 0px;
	align-items: center;
	position: relative;
	left: 185px;
	top: 10px;
}

.link {
	height: 100%;
	width: 100%;
	color: #20A1D4;
	padding-top: 0px;
	font-style: italic;
}

.progress {
	border: 1px #F15E33 solid;
	background-color: #F15E33;

	height: 100%;
	width: 194px;
}

.progressBar {
	background-color: #FAFAFA;
	margin-bottom: 0px;
	border: 1px #E0E0E0 solid;
	height: 100%;
	width: 100%;
}

.speech-bubble {
	position: relative;
	background: #424242;
	color: #FFFFFF;
	border-radius: 3px;
	padding-left: 30px;
	height: 100%;
	width: 100%;
	font-family: "rooney-sans", Avenir-Book, Calibri, sans-serif;
	line-height: 1.40;
	font-size: 12px;
	text-align: left;
	padding-top: 10px;
	padding-right: 10px;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 220px;
	width: 0;
	height: 0;
	border: 5px solid transparent;
	border-top-color: #424242;
	margin-left: 0px;
	margin-right: 40px;
	margin-bottom: -6px;
	border-width: 8px 6px 0;
}

.userInput {
	color: #424242;
}

#donationAmount {
	grid-column: 2 / span 1;
	grid-row: 4 / span 1;
}

#fundraisingMessage {
	grid-column: 1 / span 5;
	grid-row: 3 / span 3;
}

#fundraisingProgress {
	grid-column: 1 / span 5;
	grid-row: 2 / span 1;
}

#fundraisingProgressBar {
	grid-column: 1 / span 5;
	grid-row: 2 / span 1;
}

#fundraisingSpeechBuble{
	grid-row: 1 / span 1;
	grid-column: 1 / span 5;
}

#giveButton {
  grid-column: 4 / span 1;
  grid-row: 4 / span 1;
}

#infoLink {
	grid-column: 1 / span 5;
	grid-row: 5 / span 1;
}

#save {
	grid-column: 1 / span 2;
	grid-row: 6 / span 1;
}

#share {
	grid-column: 4 / span 2;
	grid-row: 6 / span 1;
}
